In [1]:
import cobra
from cobra.io import load_model
from pathlib import Path
from cobra.io import load_json_model, save_json_model, load_matlab_model, save_matlab_model, read_sbml_model, write_sbml_model
import logging
from cobra import Model, Reaction, Metabolite

In [15]:
%cd C:\Users\duart\OneDrive\Documentos\UNIANDES\PHASEOLUS LUNATUS\MODELS\OTHER_SPECIES\Phaseolus vulgaris
modelPvul = read_sbml_model(str("Pvul_CobraTB.xml"))

C:\Users\duart\OneDrive\Documentos\UNIANDES\PHASEOLUS LUNATUS\MODELS\OTHER_SPECIES\Phaseolus vulgaris

No objective in listOfObjectives
No objective coefficients in model. Unclear what should be optimized

In [16]:
for i in modelPvul.metabolites:
    if i.compartment == 'CCO__45__IN':
        modelPvul.metabolites.get_by_id(i.id).compartment='e'

In [51]:
rmvMets=[]
rmvRxns=[]
for j in modelPvul.metabolites:
    if j.compartment == 'e' or j.compartment=='CCO__45__OUT' or j.compartment=='CCO__45__PM__45__BAC__45__NEG' or j.compartment =='CCO__45__MIDDLE':
        rmvMets.append(j)
        for k in j.reactions:
            rmvRxns.append(k)

In [52]:
len(rmvMets)

125

In [53]:
len(rmvRxns)

31

In [60]:
modelPvul.remove_metabolites(rmvMets)
modelPvul.remove_reactions(rmvRxns)

C:\Users\duart\Anaconda\lib\site-packages\cobra\core\model.py:737: UserWarning: RXN-15447: 2.0 E-_c[c] + PLASTOQUINONE_c[c] + 2.0 PROTON_CCO-OUT[CCO-OUT] --> Plastoquinols_c[c] not in M_COMMONBEAN
  warn("%s not in %s" % (reaction, self))
C:\Users\duart\Anaconda\lib\site-packages\cobra\core\model.py:737: UserWarning: TRANS-RXN0-237-UBIQUINONE-6/PROTON/E-//UBIQUINOL-30.37.: 2.0 E-_c[c] + 2.0 PROTON_CCO-OUT[CCO-OUT] + UBIQUINONE-6_c[c] --> UBIQUINOL-30_c[c] not in M_COMMONBEAN
  warn("%s not in %s" % (reaction, self))

In [61]:
c=set({})
for j in modelPvul.metabolites:
    c.add(j.compartment)
for i in c:
    print(i)

c

In [62]:
modelPvul

In [65]:
write_sbml_model(modelPvul,'PvulNoCompartments.sbml')

In [66]:
import pandas as pd

In [67]:
%cd C:\Users\duart\OneDrive\Documentos\UNIANDES\PHASEOLUS LUNATUS\MODELS\OTHER_SPECIES\Phaseolus vulgaris\MATRIX

C:\Users\duart\OneDrive\Documentos\UNIANDES\PHASEOLUS LUNATUS\MODELS\OTHER_SPECIES\Phaseolus vulgaris\MATRIX

In [89]:
df = pd.read_csv('KeggPvul_Matrix.csv',sep=';', header=None)
del df[df.columns[-1]]
#DF=df.sample(frac=1,axis=1)

In [90]:
df

,0,1,2,3,4,5,6,7,8,9,...,3012,3013,3014,3015,3016,3017,3018,3019,3020,3021
0,-1,0,2,-1,0,0,-1,-1,1,-1,...,-1,1,-1,2,0,-1,-1,-1,-1,0
1,0,0,0,0,0,2,0,0,0,0,...,0,-1,0,0,0,1,1,0,0,1
2,0,0,1,0,0,0,0,0,-1,0,...,0,-1,0,-1,0,0,0,-1,-1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,-1
4,0,0,0,0,0,0,0,0,0,0,...,0,-1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2981,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2982,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2984,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2985,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [91]:
DF=df.sample(frac=1,axis=1)
DF

,682,211,2322,737,276,321,372,1933,232,1795,...,394,1529,2675,2890,2107,2650,965,1448,1669,2949
0,-1,-2,0,-1,-1,0,-1,1,0,1,...,0,0,1,1,0,0,2,0,0,2
1,1,1,0,1,0,0,0,0,0,-1,...,1,1,0,0,0,-1,0,0,0,0
2,0,0,0,0,0,0,0,-1,0,-1,...,0,0,-1,0,0,0,-1,0,0,-1
3,0,-1,0,0,0,0,0,0,0,1,...,-1,-1,0,0,0,1,0,0,0,0
4,0,1,0,0,0,0,0,0,0,-1,...,1,1,0,0,0,-1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2981,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2982,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2983,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2984,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2985,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
DF.to_csv("KeggPvul_Matrix_Randomized.csv")